
body{
  background-color: rgb(184, 176, 167)
  
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 50% solid black;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 8px 16px 0 gold;
  border-radius: 50%;
}
h1{
  text-align: center;
}

.card{
  margin: 5%;
  background: rgb(166, 172, 166);
  
}
#numbers{
  box-shadow: 0 8px 16px 0 #000000;
  transition: 0.3s;
  border-radius: 5px;
  background: rgb(166, 172, 166);
  padding: 5%;
  margin-bottom: 5% ;
}
#results{
  display: none;
  box-shadow: 0 8px 16px 0 #000000;
  transition: 0.3s;
  border-radius: 50%;
  background: rgb(166, 172, 166);
  padding: 2%;
  margin-bottom: 15%;
}
.card1{
  text-align: center;
  font-weight: bolder;
}
.jumbotron{
  background: rgb(166, 172, 166);
  border-radius: 5%;
}
#greeting{
 
  box-shadow: 0 8px 16px 0 #000000;
  transition: 0.3s;
  border-radius: 5%;
  background: rgb(166, 172, 166);
  padding: 2%;
  margin-bottom: 2%;
}